@import "reset.css";

/* Typography */
body, 
input, 
textarea, 
select, 
button {font-family: Helvetica, Arial, sans-serif; color:#C1C9D1; font-size: 12px;}

b {font-family: "Times New Roman", Times, serif; font-weight: bold; font-style: italic;}

p {margin:0 0 20px; line-height: 1.4;}

h1 {font-weight: bold; line-height: 1.6; font-size: 24px;}
h3 {font-weight: bold; line-height: 2.2; font-size: 18px;}
h4 {font-weight: bold; line-height: 1.4; font-size: 14px;}

.codex {font-family: courier; font-weight: bold; color:#3BAE50; font-size: 14px;}

/* Layout */

#wrapper {
	border: 0px black solid;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 1010px;
	}

#mainDiv {
	border: 0px black solid;
	margin: 0 auto;
	width: 1000px;
	border-radius: 15px;
	
	}

#mainContent {
	float: left;
	border: 0px black solid;
	margin-right: 15px;
	width: 650px;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	padding: 30px;
	color: #000;
	background: #C4C7CB;
	}

#sideBar {
	float: left;
	width: 200px;
	padding: 30px;
	color: #B7BEC4;
	}

#footGap {
	clear: both;
	}

#footerPos {
	border: 0px black solid;
	width: 600px;
	margin-left: 10px;
	color: #000;
	}

/* Styling */

.gradient {
	background: #fff;
	background-image: -webkit-gradient-linear(left bottom, left top, from(#5B5C5E), to(#000));
	background-image: -webkit-linear-gradient(bottom, #5B5C5E, #000);
	background-image: -moz-linear-gradient(bottom, #5B5C5E, #000);
	background-image: -o-linear-gradient(bottom, #5B5C5E, #000);
	background-image: linear-gradient(top, #5B5C5E, #000);
	}


/* List Styling */

ul.basicList {
	padding-left: 30px;
	}


/* Links */

a:link {color:#6889D2;}      /* unvisited link */
a:visited {color:#687CD7;}  /* visited link */
a:hover {color:#920E0E;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ 
